@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myfont;
  src: url(/HankenGrotesk-VariableFont_wght.ttf);
}

html {
  font-family: myfont;
}
.bg-gradient {
  background-image: linear-gradient(to top, #4131a9 0%, #4a39bb 40%);
}
.color-primary {
  background-color: #34249d;
}
